extends layout

block content
  section.header
    header
  .rowl.col-3.col-m-9
      h4 USER LOGIN

      if (error)
        .row
          .col.s12.m12.l12.offset-l2.offset-s2.offset-m2
            h6#alert.white-text(style= "padding: 1%")= error

      form(method='post', action='/auth/login')
        br
        .row
          .input-field.white-text
            input#username.validate.white-text(type='text', name= 'username', required)
            label(for='email') Username

          .input-field.white-text
            input#password.validate(type='password', name= 'password', required)
            label(for='password') Password
        br 
        .row.center
          button.btn.waves-effect.waves-light(type='submit', name='action')
            | Login
            i.fa.fa-sign-in.right.small

        .row
          p.center.white-text
              | Don't have account? Click 
              b
                a.blue-text.link(href= '/auth/signup') Sign-Up     
