body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-image: url('../images/pattern.jpeg');
    overflow-y:scroll;
    max-height: 100%;
    max-width: 100%;
    max-width: 100%;
}

.header
{
    background:  black;
    height:100px;
}

a {
    text-decoration-color: black;
}

.link {
    color: white;
    text-decoration: underline;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: gray !important;

}
 
textarea:-moz-placeholder,
input:-moz-placeholder { /* Firefox 18- */
    color: gray !important;
 }

textarea::-moz-placeholder,
input::-moz-placeholder {  /* Firefox 19+ */
    color: gray !important;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
    color: black !important;
}

.input-field input[type=text]:focus {
     box-shadow: 0 1px 0 0 #42f4d1;
     color: white;
}

#message:focus {
     border: 2px solid blue;
     box-shadow: 0 1px 0 0 blue;
}

.btn-flat {
    text-transform: capitalize;
    color: white;
}
.rowl {
    border: 2px solid grey;
    background: rgba(9, 16, 23, 0.8);
    margin-top: 3%;
    border-radius: 5px;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}
.container.rown{
    border: 2px solid grey;
    background: rgba(9, 16, 23, 0.8);
    border-radius: 5px;;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
h4 {
    text-align: center;
    color: white;
    border: 2px solid #091017;
    background-color: #091017;
    margin-bottom: 7%;
}
.row{
    padding-left: 5%;
    padding-right: 5%;    
}
.rows{
    padding-left: 5%;
    padding-right: 5%;    
}
[class*="col-"] {
    float: center;
}

/* For mobile phones: */
[class*="col-"] {
    width: 70%;
    float: center;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-9 {width: 75%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
  
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-9 {width: 75%;}
    .col-12 {width: 100%;}
}